<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=IM+FELL+Double+Pica&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v1_2">
            <div class="v1_3"></div>
            <span class="v1_4">WageWise</span>
            <span class="v1_5">Calculators</span>
            <span class="v1_6">Guides & Tips</span>
            <span class="v1_7">Earn More</span>
            <div class="v1_9"><div class="v1_10"></div>
        </div><div class="v1_11"></div>
        <div class="v1_12"></div>
        <span class="v1_14">select your state</span>
        <span class="v1_15">enter your annual salary</span>
        <span class="v1_16">what are your monthly bills?</span>
        <div class="v1_13"></div>
        <div class="v1_18"></div>
        <span class="v1_19">Calculate!</span>
        <div class="name"></div>
    </div>
</body>
</html>